{% extends 'forum/base.html' %}

{% block content %}
    <div id="demo" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
          {%  for image in images %}
            <div class="carousel-item {% if forloop.first %} active{% endif %}">
              <img src={{ image.url }} height="820px" width="100%">
            </div>
          {%  endfor %}
          </div>

          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
    </div>
  <div class="everything-artistic">
      <div class="theme-block">
          <p style="font-weight: 1200;font-size: 28px;"> Everything Artistic! </p>
      </div>
      <div>
          <p class="adjusted-p">
              Welcome to the world of cute, cheerful, and charming merch, curated with love by artists from
              around the world. Your one stop shop for best stationery, gifting, home decor and more!
          </p>
      </div>
  </div>
    <div class="all-about-us">
      <div class="theme-block">
          <p style="font-weight: 1200;font-size: 28px;"> What we are all about ! </p>
      </div>
      <div>
          <img class="about-us-image" src="https://i.postimg.cc/c1255mJg/1.png" height="380px" width="300px"/>
          <img class="about-us-image" src="https://i.postimg.cc/PrDFGwL6/2.png" height="380px" width="300px"/>
          <img class="about-us-image" src="https://i.postimg.cc/ysDMXJN3/4.png" height="380px" width="300px"/>
          <img class="about-us-image" src="https://i.postimg.cc/d0sW-TN5X/Artboard-1-1-360x.png" height="380px" width="300px"/>
      </div>
  </div>
    {%  for detail in data %}
    <div class="category-container" id="categories">
          <div class="theme-block">
              <p style="font-weight: 1200;font-size: 28px;"> {{ detail.category_name }} </p>
          </div>
        <button class="view-all-button">
            <a href="/products/{{ detail.id }}">View All</a>
        </button>
        <div style="display: flex;flex-direction: row;flex: 1">
            {% for product in detail.products %}
                <div class="product-container">
                    <a href="/product-detail/{{ product.id }}">
                        <img class="product-image" src={{ product.image}}/>
                    </a>
                    <div class="product-detail">
                        {{ product.product_name }} <br/>
                        Rs {{ product.price }}
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
