{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load staticfiles %}

  <span>
    <span class="reg-detail" style="float:left;">
      <img src={% static "logo.png" %} height="100px" width="100px"> <br>
      <span class="reg-detail-text">
        Join us
      </span>
    </span>
  </span>
  
  <div class="reg-form col-lg-6 container pb-3" style="float:right;">
    <form method="POST" class="reg-form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4 pt-2"> Join DevBoard </legend>

        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit"> Signup </button>
      </div>
    </form>

    <div class="border-top pt-3">
      <small class="text-muted">
        Already have an account? <a class="ml-2" href="#"> Sign In </a>
      </small>
    </div>
  </div>
{% endblock %}
